defaults
  timeout client 30s
  timeout server 30s
  timeout connect 5s
  mode http

global
  ssl-default-bind-ciphers DEFAULT:!EXPORT:!RC4
  tune.ssl.default-dh-param 2048

frontend http
  bind *:80
  redirect scheme https code 301

frontend https
  bind *:443 ssl crt /certs

  default_backend foodsoft_web
  acl sharedlists_path path_beg /sharedlists
  use_backend sharedlists_web if sharedlists_path

  http-response set-header Strict-Transport-Security "max-age=16000000;"
  option forwardfor
  reqadd X-Forwarded-Proto:\ https

backend foodsoft_web
  server foodsoft_web foodsoft_web:3000
backend sharedlists_web
  server sharedlists_web sharedlists_web:3000
